<div class="page-container full-width">

<!-- Page content -->
<div class="page-content"><div class="page-content-inner">


<!-- Page header -->
<div class="page-header">
    <div class="page-title">
        <h3>Profile page <small>User profile page layout</small></h3>
    </div>
</div>
<!-- /page header -->


<!-- Profile grid -->
<div class="row">
<div class="col-lg-2">

    <!-- Profile links -->
    <div class="block">

        <div class="block">
            <div class="thumbnail">
                <div class="thumb">
                    <img alt="" src="http://placehold.it/300">
                </div>

                <div class="caption text-center">
                    <h6>Madison Gartner</h6>
                </div>
            </div>
        </div>


    </div>
    <!-- /profile links -->

</div>

<div class="col-lg-10">


    <!-- Profile information -->
    <form action="#" class="block" role="form">
        <h6 class="heading-hr"><i class="icon-user"></i> Profile information:</h6>

        <div class="block-inner">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Username</label>
                        <input type="text" value="Eugene" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="text" readonly="readonly" value="eugene@kopyov.com" class="form-control">
                    </div>
                </div>
            </div>

        </div>


        <h6 class="heading-hr"><i class="icon-lock"></i> Security information:</h6>


        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>New password:</label>
                    <input type="password" placeholder="Enter new password" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Repeat password:</label>
                    <input type="password" placeholder="Repeat new password" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">

                </div>

                <div class="col-md-6">
                    <label>Notifications: </label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" checked="checked">
                            Password expiration notification
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" checked="checked">
                            New message notification
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" checked="checked">
                            New task notification
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled">
                            New contact request notification
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <input type="reset" value="Cancel" class="btn btn-default">
            <input type="submit" value="Apply changes" class="btn btn-success">
        </div>

    </form>
    <!-- /profile information -->

</div>
<!-- /fifth tab -->

</div>
</div>
<!-- /page tabs -->

</div>
</div>
<!-- /profile grid -->


