<div class="page-container full-width">

<!-- Page content -->
<div class="page-content"><div class="page-content-inner">


<!-- Page header -->
<div class="page-header">
    <div class="page-title">
        <h3>Ваш профайл <small></small></h3>
    </div>
</div>
<!-- /page header -->


<!-- Profile grid -->
<div class="row">
<div class="col-lg-2">

    <!-- Profile links -->
    <div class="block">

        <div class="block">
            <div class="thumbnail">
                <div class="thumb">
                    <img alt="" src="http://placehold.it/300">
                </div>

                <div class="caption text-center">
                    <h6 ng-bind-html="userSettings.credential.name"></h6>
                </div>
            </div>
        </div>


    </div>
    <!-- /profile links -->

</div>

<div class="col-lg-10">


    <!-- Profile information -->
    <form class="block" role="form" ng-submit="applyChanges(credential)" name="credentialForm">
        <h6 class="heading-hr"><i class="icon-user"></i> Персональная информация</h6>

        <div class="block-inner">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Имя пользователя:</label>
                        <input type="text" class="form-control" ng-model="credential.name" />
                    </div>
                    <div class="col-md-6">
                        <label>Email:</label>
                        <input type="text" readonly="readonly" class="form-control" ng-model="credential.email">
                    </div>
                </div>
            </div>

        </div>

        <h6 class="heading-hr"><i class="icon-lock"></i> Безопасность</h6>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Новый пароль:</label>
                    <input type="password" class="form-control" ng-model="credential.password">
                </div>
                <div class="col-md-6">
                    <label>Пароль повторно:</label>
                    <input type="password" class="form-control" ng-model="credential.passwordRepeat">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">

                </div>

                <div class="col-md-6">
                    <label>Уведомления: </label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled" checked="checked">
                            Истечение срока действия пароля
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="styled">
                            Файлы для загрузги подготовлены
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <input type="submit" value="Применить изменения" class="btn btn-success" ng-disabled="credentialForm.$invalid || credentialForm.$pristine">
        </div>

    </form>
    <!-- /profile information -->

</div>
<!-- /fifth tab -->

</div>
</div>
<!-- /page tabs -->

</div>
</div>
<!-- /profile grid -->


