<!-- Page container -->
<div class="page-container" ng-init="predicate = 'source'; reverse=0">

    <!-- Sidebar -->
    <div class="sidebar collapse" id="navbar-icons">
        <div class="sidebar-content">

            <div class="user-menu dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"  ng-click="isAddingNewGroup = true">
                    <div class="user-info">
                        Добавить группу <span>Всего групп: {{ userSettings.groups.length }}</span>
                    </div>
                </a>
            </div>

            <!-- Main navigation -->
            <ul class="navigation nav-stacked">
                <li ng-repeat="group in userSettings.groups | orderBy:'title'" ng-class="group.id==userSettings.settings.currentGroup ? 'active ' : ''">
                    <a ng-click="getGroup(group.id)">
                        <div class="row">
                            <div class="col-md-10" ng-bind-html="group.title"></div>
                            <div class="col-md-2 pull-right">
                                <span class="label label-info words-count-label">{{ group.count }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /main navigation -->

        </div>
    </div>
    <!-- /sidebar -->

    <!-- Page content -->
    <div class="page-content">

        <!-- Add new group -->
        <div ng-include src="'/partials/words/group-add.html'"></div>


        <div ng-show="!isAddingNewGroup">

            <!-- Page header with buttons -->

            <div class="page-header">

                <div class="page-title">
                    <h3 ng-dblclick="editingGroup = 1"><span ng-bind-html="currentGroupTitle"></span> <small>Всего слов в группе: {{words.length}}</small></h3>
                </div>

                <div class="header-buttons">
                    <div class="collapse" id="header-buttons">
                        <div class="well">
                            <div class="btn-group">
                                <button class="btn btn-primary" ng-click="showFromForNewWord();" type="button">Добавить новое слово</button>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret caret-split"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right icons-right">
                                    <li><a ng-click="editingGroup = 1; isAddingNewWord = 0;"><i class="icon-pencil4"></i> Отредактировать</a></li>
                                    <li ><a ng-click="deleteGroup(userSettings.settings.currentGroup)"><i class="icon-remove3"></i> Удалить</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- /page header with buttons -->

            <!-- Group title editing -->
            <div ng-include src="'/partials/words/group-edit.html'"></div>

            <!-- Empty group -->

            <div ng-show="!(words|filter:q).length && !q && !editingGroup">
                <div class="alert alert-block alert-warning fade in">
                    <h6><i class="icon-info2"></i> Пустая группа</h6>
                    <hr>
                    <p>Текущая группа не содержит слов. Вы можете наполнить её.</p>
                </div>
                <br/>
            </div>

            <!-- /empty group -->

            <!-- Adding new word -->
            <div ng-include src="'/partials/words/word-add.html'"></div>

            <!-- Editing word -->
            <div ng-include src="'/partials/words/word-edit.html'"></div>

            <!-- List of words -->
            <div ng-include src="'/partials/words/words-list.html'"></div>

        </div>
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->
