<form role="form" ng-submit="editGroup(currentGroupTitle)" name="editingGroupForm" ng-show="editingGroup">
    <br/>
    <div class="panel panel-default">

        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-pencil4"></i> <span translate="TEXT_EDITING_GROUP"></span></h6>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label translate="LABEL_NAME"></label>
                        <input type="text" class="form-control input-lg" ng-model="currentGroupTitle" required>
                    </div>
                </div>
            </div>

            <div class="form-actions text-right">
                <button type="button" class="btn btn-default" ng-click="cancelGroupChanging()" translate="BUTTON_CANCEL"></button>
                <button type="submit" class="btn btn-success" ng-disabled="editingGroupForm.$invalid || editingGroupForm.$pristine" translate="BUTTON_SAVE"></button>
            </div>
        </div>

    </div>
</form>
