<form role="form" ng-submit="addNewGroup(newGroupTitle)" name="addGroupForm" ng-show="isAddingNewGroup">
    <br/>
    <div class="panel panel-default">

        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-file-plus"></i> <span translate="TEXT_ADDING_GROUP"></span></h6>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label translate="LABEL_NAME"></label>
                        <input type="text" class="form-control input-lg" ng-model="newGroupTitle" required>
                            <span class="forms-desc" ng-show="addGroupForm.name.$error.minlength" translate="TEXT_WORD_LIMITATION">

                        </span>
                    </div>
                </div>
            </div>

            <div class="form-actions text-right">
                <button type="button" class="btn btn-default" ng-click="resetPageParameters()" translate="BUTTON_CANCEL"></button>
                <button type="submit" class="btn btn-success" ng-disabled="addGroupForm.$invalid" translate="BUTTON_ADD"></button>
            </div>
        </div>

    </div>
</form>
