PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin

# Make strategy files
* * * * * cd /var/eng/app && php public/index.php generate-strategies

# Speak words
* * * * * cd /var/eng/app && php public/index.php words-speaker

# Speak words
0 1 * * * cd /var/eng/app && php public/index.php reset-demo-user