<div class="block task task-add col-md-6">
    <div class="row with-padding">
        <div class="col-sm-12">

            <!-- Edit strategy -->

            <form role="form" ng-submit="commitStrategy(strategyID, strategyTitle)" name="strategyForm" >

                <input type="hidden" ng-model="strategyID" value="0">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label translate="LABEL_STRATEGY_NAME">:</label>
                            <input type="text" class="form-control input-lg" ng-model="strategyTitle" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title"><i class="icon-cogs"></i> <span translate="TEXT_ELEMENTS"></span></h6>
                        </div>
                        <div class="well">
                            <a  ng-click="add(ITEM_TARGET)" class=" btn btn-xs btn-success strategy-element-add" translate="TEXT_TRANSLATION"></a>
                            <a  ng-click="add(ITEM_TARGET_SIMPLE)" class="  btn btn-xs btn-success strategy-element-add" translate="TEXT_TRANSLATION_EXAMPLE"></a>
                            <a  ng-click="add(ITEM_SILENCE)" class=" btn btn-xs btn-warning strategy-element-add" translate="TEXT_SILENT"></a>
                            <a  ng-click="add(ITEM_SOURCE)" class="  btn btn-xs btn-info strategy-element-add" translate="TEXT_ORIGINAL"></a>
                            <a  ng-click="add(ITEM_SOURCE_SIMPLE)" class="  btn btn-xs btn-info strategy-element-add" translate="TEXT_ORIGINAL_EXAMPLE"></a>

                        </div>

                        <div class="panel-heading">
                            <h6 class="panel-title"><i class="icon-soundcloud"></i> <span translate="TEXT_ELEMENTS_ADDED"></span></h6>
                        </div>
                        <div class="panel-body">

                            <div ng-show="!sortableSourceItems.length" class="help-block" translate="TEXT_ADD_ELEMENTS"></div>

                            <ul id="sortable" class="list-group nav nav-pills nav-stacked">
                                <li ng-repeat="(i, item) in sortableSourceItems | orderBy:'sort'" class="list-group-item"
                                    ng-class="(item.type == 1 || item.type == 4) ? 'list-group-item-info' : (item.type == 2 ? 'list-group-item-warning' : 'list-group-item-success')"
                                    ng-switch on="item.type">

                                    <span ng-show="sortableSourceItems.length > 1">
                                        <move-icon ng-if="$first">
                                            <i class="icon-arrow-down4"></i>
                                        </move-icon>

                                        <move-icon ng-if="!$last && !$first">
                                            <i class="icon-arrow4"></i>
                                        </move-icon>

                                        <move-icon ng-if="$last">
                                            <i class="icon-arrow-up4"></i>
                                        </move-icon>
                                    </span>

                                    <item-name ng-switch-when="1" translate="TEXT_ORIGINAL">

                                    </item-name>
                                    <item-name ng-switch-when="2" translate="TEXT_SILENT">

                                    </item-name>
                                    <item-name ng-switch-when="4" translate="TEXT_ORIGINAL_EXAMPLE">

                                    </item-name>
                                    <item-name ng-switch-when="5" translate="TEXT_TRANSLATION_EXAMPLE">

                                    </item-name>
                                    <item-name ng-switch-when="3" translate="TEXT_TRANSLATION">

                                    </item-name>

                                    <div class="row" ng-if="!isEmptyR(item.settings)">

                                        <hr class="item-settings"/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" translate="TEXT_ELEMENT_SETTINGS"></label>
                                            <div class="col-sm-10">

                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="mute-type-{{ $index }}" class="styled"  ng-model="item.settings.type" value="1" ng-selected="item.settings.type == 1" >
                                                        <span translate="TEXT_ORIGINAL_TIME"></span></label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="mute-type-{{ $index }}" class="styled"  ng-model="item.settings.type" value="2" ng-selected="item.settings.type == 2" translate="TEXT_TRANSLATION_TIME">
                                                        <span translate="TEXT_TRANSLATION_TIME"></span></label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="mute-type-{{ $index }}" class="styled"  ng-model="item.settings.type" value="4" ng-selected="item.settings.type == 4" translate="TEXT_ORIGINAL_EXAMPLE_TIME">
                                                        <span translate="TEXT_ORIGINAL_EXAMPLE_TIME"></span>
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="mute-type-{{ $index }}" class="styled"  ng-model="item.settings.type" value="5" ng-selected="item.settings.type == 5" translate="TEXT_TRANSLATION_EXAMPLE_TIME">
                                                        <span translate="TEXT_TRANSLATION_EXAMPLE_TIME"></span>
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="mute-type-{{ $index }}" class="styled" ng-model="item.settings.type" value="3" ng-selected="item.settings.type == 3" translate="TEXT_SILENT_TIME">
                                                        <span translate="TEXT_SILENT_TIME"></span>
                                                    </label>
                                                </div>

                                                <div class="col-md-5" ng-disable="item.settings.type != 3">
                                                    <label translate="TEXT_TIME_IN_SECONDS"></label>
                                                    <input  ng-disabled="item.settings.type != 3" type="text" class="form-control" ng-model="item.settings.seconds" />
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <button ng-click="delete($index)" class="pull-right btn btn-primary btn-sm icon-remove3" type="button"></button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="form-actions text-right">
                    <button type="button" class="btn btn-default" ng-click="cancelStrategyCommit(0)" translate="BUTTON_CANCEL"></button>
                    <button type="submit" class="btn btn-success" ng-disabled="strategyForm.$invalid || !sortableSourceItems.length"  translate="BUTTON_OK"></button>
                </div>
            </form>

            <!-- /edit strategy -->

        </div>
    </div>
</div>