<div class="col-sm-6">
    <div class=" block task strategy-entity">
        <div class="row with-padding">
            <div class="col-sm-9">
                <div class="task-description">
                    <h6>
                        <a ng-click="editStrategy(strategy)">{{ strategy.title }}</a>
                    </h6>

                    <strategy-item ng-repeat="item in strategy.items | orderBy:'sort'" ng-switch on="item.type">

                        <div class="label label-info" ng-switch-when="1">
                            Оригинал
                        </div>
                        <div class="label label-warning" ng-switch-when="2">
                            Тишина
                            <settings ng-switch on="item.settings.type">
                                <silent-type ng-switch-when="1">
                                    на время оригинала
                                </silent-type>
                                <silent-type ng-switch-when="2">
                                    на время перевода
                                </silent-type>
                                <silent-type ng-switch-when="3">
                                    на {{ item.settings.seconds }} сек.
                                </silent-type>
                            </settings>
                        </div>
                        <div class="label label-success" ng-switch-when="3">
                            Перевод
                        </div>

                    </strategy-item>

                    <div ng-show="!strategy.items.length" class="help-block">
                        Данная стратегия не содержит элементов. Вы не сможете использовать её для скачивания файлов.
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="task-info">

                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-right">
                <ul class="footer-icons-group">
                    <li><a ng-click="editStrategy(strategy)"><i class="icon-pencil4"></i></a></li>
                    <li><a ng-click="dropStrategy(strategy)"><i class="icon-remove3"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
