<h5 class="text-error"><i class="icon-download"></i> Загрузка</h5>
<p>Загрузка - это последний шаг для получения mp3-файлов.</p>
<p>Как только вы определитесь какие слова вы хотите выучить и создали стратегию, вы можете создать загрузку. Загрузка создается по группам слов.</p>
<p>Создание mp3-файлов требует время. Поэтому новая загрузка поставится в очередь на подготовку.</p>
<p>Как только ваша загрузка будет готова, мы пришлем на ваш электронный адрес, ссылку для скачивания, это будет ZIP-архив, с mp3-файлами. Так же готовый файл можно будет скачать на этой странице.</p>
<hr>
<h5 class="text-error"><i class="icon-info"></i> Что делать с загрузкой</h5>
<p>После скачивания архива, вам его надо распаковать, полученные mp3-файлы открыть в любом mp3-плеере.</p>
<p>В самом плеере можно включить перемешивание треков, чтобы слова шли не по алфавиту. Т.к. при повторном прослушивании по алфавиту, вы будете слушать слова в алфавитном порядке, и слова в конце алфавита, могут остаться не прослушанными.</p>
