<h5 class="text-error"><i class="icon-wave2"></i> <span translate="TUTORIAL_STRATEGIES_1"></span></h5>
<p translate="TUTORIAL_STRATEGIES_2">

</p>
<div class="well">
    <p translate="TUTORIAL_STRATEGIES_3"></p>
    <ul class="square">
        <li><span class="text-info" translate="TEXT_ORIGINAL"></span></li>
        <li><span class="text-success" translate="TEXT_TRANSLATION"></span></li>
        <li><span class="text-warning" translate="TEXT_SILENT"></span></li>
    </ul>
</div>
<hr>
<h5 class="text-error"><i class="icon-info"></i> <span translate="TUTORIAL_STRATEGIES_4"></span></h5>
<p translate="TUTORIAL_STRATEGIES_14"></p>
<p translate="TUTORIAL_STRATEGIES_15"></p>
<div class="well">
    <p translate="TUTORIAL_STRATEGIES_5"></p>
    <ol>
        <li><span class="text-success" translate="TEXT_TRANSLATION"></span></li>
        <li><span class="text-info" translate="TEXT_ORIGINAL"></span></li>
        <li><span class="text-success" translate="TEXT_TRANSLATION"></span></li>
        <li><span class="text-info" translate="TEXT_ORIGINAL"></span></li>
    </ol>
    <p translate="TUTORIAL_STRATEGIES_6"></p>

    <p class="text-semibold text-center" translate="TUTORIAL_STRATEGIES_7"></p>
</div>
<hr>
<h5 class="text-warning"><i class="icon-pause2"></i> <span translate="TEXT_SILENT"></span></h5>
<p translate="TUTORIAL_STRATEGIES_8"></p>
<h6 class="text-error" translate="TUTORIAL_STRATEGIES_9"></h6>
<div class="well">
    <p translate="TUTORIAL_STRATEGIES_10">

    </p>
    <p translate="TUTORIAL_STRATEGIES_11">

    </p>
</div>
<br/>
<h6 class="text-error" translate="TUTORIAL_STRATEGIES_12"></h6>
<div class="well">
    <p translate="TUTORIAL_STRATEGIES_13">

    </p>
</div>