<h5 class="text-error"><i class="icon-trophy-star"></i> <span translate="TUTORIAL_WORDS_1"></span></h5>
<p translate="TUTORIAL_WORDS_2">

</p>
<p translate="TUTORIAL_WORDS_3">

</p>
<p translate="TUTORIAL_WORDS_4">
</p>
<hr>
<h5 class="text-error"><i class="icon-volume-medium"></i> <span translate="TUTORIAL_WORDS_5"></span></h5>
<p translate="TUTORIAL_WORDS_6">

</p>
<p translate="TUTORIAL_WORDS_7">

</p>
<p translate="TUTORIAL_WORDS_8">

</p>
<p translate="TUTORIAL_WORDS_9">

</p>
<hr>
<h5 class="text-error"><i class="icon-folder8"></i> <span translate="TUTORIAL_WORDS_10"></span></h5>
<p translate="TUTORIAL_WORDS_11">

</p>