<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'dbname'   => 'eng',
                    'host'     => 'localhost',
                    'user'     => '******',
                    'password' => '******',
                ),
            ),
        ),
        'configuration' => array(
            'orm_default' => array(
                'metadata_cache' => 'array',
                'query_cache'    => 'array',
                'result_cache'   => 'array'
            )
        ),
    )
);

